fastapi
uvicorn[standard]
python-dotenv
llama-index-core
llama-index-vector-stores-postgres
llama-index-embeddings-azure-openai
llama-index-llms-azure-openai
llama-index-readers-file
openai
pypdf
pydantic
pydantic-settings
psycopg2-binary
asyncpg
sqlalchemy
alembic
jinja2
python-multipart
langdetect
