<svg-windsteer
  [compassHeading]="wind().heading"
  [compassModeEnabled]="true"
  [updateInterval]="1000"
  [courseOverGroundAngle]="wind().cog"
  [courseOverGroundEnabled]="true"
  [sogActive]="true"
  [trueWindAngle]="wind().twa"
  [trueWindFresh]="wind().twaFresh"
  [twsEnabled]="true"
  [twaEnabled]="true"
  [trueWindSpeed]="wind().tws"
  [trueWindSpeedUnit]="'kn'"
  [appWindAngle]="wind().awa"
  [awsEnabled]="true"
  [appWindSpeed]="wind().aws"
  [appWindSpeedUnit]="'kn'"
  [laylineAngle]="40"
  [closeHauledLineEnabled]="true"
  [windSectorEnabled]="false"
  [driftEnabled]="false"
  [driftActive]="false"
  [driftUnit]="''"
  [driftFlow]="0"
  [driftSet]="0"
  [waypointEnabled]="false"
  [sailSetupEnabled]="false"
  [rudderEnabled]="false"
  [headingFresh]="wind().headingFresh"
  [courseFresh]="wind().cogFresh"
  [appWindFresh]="wind().awaFresh"
  [appWindSpeedFresh]="wind().awsFresh"
  [trueWindSpeedFresh]="wind().twsFresh"
  [driftFresh]="false"
  [setFresh]="false"
></svg-windsteer>
