<app-header
  [title]="title"
  [subtitle]="subtitle"
  [showBack]="true"
  (back)="back()"
></app-header>
<ion-content [fullscreen]="true" class="page-content">
  <ng-container *ngIf="lesson?.kind === 'checklist' && checklist">
    <div class="cl-prog-wrap">
      <div class="cl-bar-wrap">
        <div class="progress-bar">
          <div class="progress-fill" [style.width.%]="progressState.percent"></div>
        </div>
        <div class="cl-count">{{ progressState.done }} of {{ progressState.total }} complete</div>
      </div>
      <button type="button" class="cl-reset" (click)="reset()">
        <ion-icon name="refresh-outline" aria-hidden="true"></ion-icon>
        Reset
      </button>
    </div>
    <div class="checklist-body">
      <div class="cl-group" *ngFor="let group of checklist.groups; let gi = index">
        <div class="cl-group-title">{{ group.t }}</div>
        <button
          type="button"
          class="cl-item"
          [class.chk]="isDone(gi, ii)"
          *ngFor="let item of group.items; let ii = index"
          (click)="toggle(gi, ii)"
        >
          <div class="cl-checkbox">
            <ion-icon *ngIf="isDone(gi, ii)" name="checkmark" aria-hidden="true"></ion-icon>
          </div>
          <div>
            <div class="cl-item-text" [class.done]="isDone(gi, ii)">{{ item.c }}</div>
            <div class="cl-item-sub" *ngIf="item.s">{{ item.s }}</div>
          </div>
        </button>
      </div>
    </div>
  </ng-container>

  <app-guide-chapter
    *ngIf="lesson?.kind === 'chapter' && system"
    mode="chapter"
    [system]="system"
    [showChecks]="true"
    (systemLink)="openLinkedSystem($event)"
  ></app-guide-chapter>

  <app-guide-chapter
    *ngIf="lesson?.kind === 'power'"
    mode="power"
    [showChecks]="true"
    (systemLink)="openLinkedSystem($event)"
  ></app-guide-chapter>
</ion-content>
