<app-header
  title="Learn the boat"
  subtitle="A short path through this boat"
  [showBack]="true"
  backTo="do"
></app-header>
<ion-content [fullscreen]="true" class="page-content">
  <div class="acc-list">
    <button type="button" class="acc-header acc-item" *ngFor="let stage of stages" (click)="open(stage)">
      <div class="acc-text">
        <div class="acc-title">{{ stage.title }}</div>
        <div class="acc-sub">{{ label(stage) }}</div>
      </div>
      <div class="acc-chevron" aria-hidden="true"><ion-icon name="chevron-forward"></ion-icon></div>
    </button>
  </div>
</ion-content>
