<div class="rules-section" *ngFor="let section of sections">
  <div class="rules-title" [ngClass]="section.tone">{{ section.title }}</div>
  <div
    class="rule-item"
    [ngClass]="section.tone"
    *ngFor="let rule of section.rules"
    [class.clickable]="rule.link"
    [attr.role]="rule.link ? 'button' : null"
    [attr.tabindex]="rule.link ? 0 : null"
    (click)="open(rule)"
    (keydown.enter)="open(rule)"
    (keydown.space)="$event.preventDefault(); open(rule)"
  >
    <span class="rule-icon"><app-ui-icon [icon]="rule.icon" fallback="pin-outline"></app-ui-icon></span>
    <span class="rule-text">
      {{ rule.text }}
      <span class="rule-link" *ngIf="rule.link"><ion-icon name="arrow-forward" aria-hidden="true"></ion-icon> Tap to open</span>
    </span>
  </div>
</div>
<p class="rules-empty" *ngIf="!sections.length">No boat rules are published for this boat.</p>
