<ion-tabs>
  <ion-tab-bar slot="bottom" class="bottom-nav">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="do" href="/tabs/do">
      <ion-icon name="checkbox-outline"></ion-icon>
      <ion-label>Do</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="know" href="/tabs/know">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Know</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="fix" href="/tabs/fix">
      <ion-icon name="build-outline"></ion-icon>
      <ion-label>Fix It</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="ask" href="/tabs/ask">
      <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
      <ion-label>Ask</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
